<!DOCTYPE html>
<html>
  <head>
    <title>Chronicle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "view-style" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
